<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnisi.wx.server.service.myservice.dao.MyServiceDao">

    <!--查询我的所有事项-->
    <select id="searchServices" resultType="cn.hnisi.wx.server.service.model.Order">
        SELECT
          o.ORDERNO ,s.title as serviceName ,o.PERSONID , o.PERSONIDCARD ,
          o.PERSONNAME ,o.STATUS ,o.CREATEDTIME ,o.UPDATEDTIME ,o.completionTime
        FROM
          T_ORDER o
        JOIN
          t_service s
        ON
          o.servicename = s.name
        WHERE
          o.userId = #{userId}
        AND
          o.status = #{status}
    </select>

    <select id="queryMyServiceByOrderNo" resultType="cn.hnisi.wx.server.service.model.Order">
        SELECT
          o.ORDERNO  ,s.title as serviceName  ,o.PERSONID ,o.PERSONIDCARD ,
          o.PERSONNAME ,o.STATUS ,o.requestData ,o.CREATEDTIME ,o.UPDATEDTIME , o.completionTime
        FROM
          T_ORDER o
        JOIN
          t_service s
        ON
          o.servicename = s.name
        WHERE
           o.orderNo = #{orderNo}
    </select>
</mapper>