<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnisi.wx.server.service.dao.OrderDAO">

    <insert id="insert">
        insert into t_order(orderNo,serviceId,serviceName,userId,userIdcard,userName,personId,personIdcard,personName,status,requestData,responseData)
        values(#{orderNo},#{serviceId,jdbcType=VARCHAR},#{serviceName},#{userId},#{userIdcard},#{userName},#{personId},#{personIdcard},#{personName},#{status},#{requestData,jdbcType=CLOB},#{responseData,jdbcType=CLOB})
    </insert>

    <update id="updateStatus">
        update t_order
           set status = #{status},
               updatedTime = sysdate
         where orderNo = #{orderNo}
    </update>

    <select id="queryByOrderNo" resultType="cn.hnisi.wx.server.service.model.Order">
        select * from t_order where orderNo = #{orderNo}
    </select>

    <update id="updateResult">
        update t_order
           set status = #{status},
               updatedTime = sysdate,
               responseData = #{responseData},
               completionTime = #{completionTime}
         where orderNo = #{orderNo}
    </update>
</mapper>