<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnisi.wx.server.person.dao.PersonDAO">

    <insert id="insert">
        insert into t_person(isSelf,personId,userId,name,idcard,birthday,sex,tel,address,sicard)
                values(#{isSelf},#{personId},#{userId},#{name},#{idcard},#{birthday,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{sicard,jdbcType=VARCHAR})
    </insert>

    <select id="queryByUserId" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where userId = #{userId}
    </select>

    <select id="queryByPersonId" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where personId = #{personId}
    </select>

    <delete id="delete">
        delete from t_person where personId = #{personId}
    </delete>

    <select id="querySelf" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where userId = #{userId} and isSelf = '1'
    </select>
</mapper>