<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnisi.wx.server.person.dao.PersonDAO">

    <insert id="insert">
        insert into t_person(is_self,personid,userid,name,idcard,birthday,sex,tel,address,sicard)
                values(#{isSelf},#{personid},#{userid},#{name},#{idcard},#{birthday,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{sicard,jdbcType=VARCHAR})
    </insert>

    <select id="queryByUserid" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where userid = #{userid}
    </select>

    <select id="queryByPersonid" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where personid = #{personid}
    </select>

    <delete id="delete">
        delete from t_person where personid = #{personid}
    </delete>

    <select id="querySelf" resultType="cn.hnisi.wx.server.person.model.Person">
        select * from t_person where userid = #{userid} and is_self = '1'
    </select>
</mapper>