<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hnisi.wx.server.validateFace.ValidateFaceDetailDao">

    <!-- 插入数据日志-->
    <insert id="insertFirst">
        insert into t_validate_face_log_detail(token,idcard,name,data)
        values(#{token},#{idcard,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{data})
    </insert>

    <!--查询没有存入明细数据 且含有此机器码的token值-->
    <select id="queryTokenByFlag" resultType="String">
        select
          token
        from
          t_validate_face_log_detail
        where
          exist = 0
        and
          machine = #{machineId}
    </select>

    <!--更新数据-->
    <update id="updateDetail">
        update
          t_validate_face_log_detail
        <set>
            <if test="data != null">
                data = #{data},
            </if>
            <if test="exist != null">
                exist = #{exist},
            </if>
            <if test="pic_1 != null">
                pic_1 = #{pic_1},
            </if>
            <if test="pic_2 != null">
                pic_2 = #{pic_2},
            </if>
            <if test="pic_3 != null">
                pic_3 = #{pic_3},
            </if>
            <if test="video != null">
                video = #{video},
            </if>
            logTime = sysdate
        </set>
        where
          token = #{token}
    </update>
    
    <!--更新十条数据 并标记-->
    <update id="updateMachine">
        UPDATE
          t_validate_face_log_detail
        SET
          machine=#{machineId}
        WHERE token
        IN
           (SELECT t.token FROM
                 (SELECT token FROM t_validate_face_log_detail
                        where exist=0 and machine is null
                              order by logTime) t where
                                    rownum &lt;=#{number})
    </update>

    <!--回滚机器码 重置为空-->
    <update id="fallbackMachineId">
        update
          t_validate_face_log_detail
        set
          machine=''
        where
          token=#{token}
    </update>
</mapper>
